<launch>
  <!-- Start handle --> 
  <include file="$(find ig_handle)/launch/include/handle_includes.launch" />

  <!-- Start lidar -->
  <include file="$(find ig_handle)/launch/include/start_lidar_v.launch"/>

  <!-- Start cameras -->
  <include file="$(find ig_handle)/launch/include/start_cam_F4.launch" />

  <!-- Start thermal -->
  <include file="$(find ig_handle)/launch/include/start_cam_thermal.launch" />
</launch>