<launch>
  <!-- Start ros serial -->
  <include file="$(find ig_handle)/launch/include/start_rosserial.launch" />

  <!-- Start lidar -->
  <!-- <include file="$(find ig _handle)/launch/include/start_lidar_h.launch"/> -->

  <!-- Start cameras -->
  <include file="$(find ig_handle)/launch/include/start_cam_F1.launch" />
  <include file="$(find ig_handle)/launch/include/start_cam_F2.launch" />
  <include file="$(find ig_handle)/launch/include/start_cam_F3.launch" />
  <!-- <include file="$(find ig_handle)/launch/include/start_cam_F4.launch" /> -->

  <!-- Start IMU -->
  <!-- <include file="$(find ig_handle)/launch/include/start_imu.launch" /> -->

  <!-- Run System Monitor -->
  <!-- <include file="$(find ig_handle)/launch/include/system_monitor.launch" /> -->

  <!-- Run rviz -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ig_handle)/config/rviz_config.rviz" /> -->

</launch>