<launch>
   <!-- Determine this using rosrun spinnaker_camera_driver list_cameras.
       If not specified, defaults to first camera found. -->
  <arg name="camera_name"               default="F3" />
  <arg name="camera_serial"             default="0" />
  <arg name="device_type"               default="USB3" /> <!-- USB3 or GigE -->

  <group ns="$(arg camera_name)">
    <!-- Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" cwd="node" output="screen"/>

    <!-- Camera nodelet -->
    <node pkg="nodelet" type="nodelet" name="spinnaker_camera_nodelet"
          args="load spinnaker_camera_driver/SpinnakerCameraNodelet camera_nodelet_manager" >

      <param name="frame_id"                        value="$(arg camera_name)" />
      <param name="serial"                          value="$(arg camera_serial)" />
      <param name="device_type"                     value="$(arg device_type)" />

      <!-- custom ig_hande config -->
      <rosparam command="load" file="$(find ig_handle)/config/ig_handle_flir_config.yaml" />
    </node>

    <!-- Debayering nodelet -->
    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
    </node>
  </group>
</launch>
