<launch>
  <node name="xsens_mti_node" pkg="xsens_mti_ros" type="xsens_mti_node" output="screen">
    <rosparam command="load" file="$(find xsens_mti_ros)/param/xsens_mti_node.yaml" />
  </node>
  <node name="restamp_node" pkg="ig_handle" type="restamp_node" output="screen">
      <param name="nodelet_name" value="imu_restamp_nodelet"/>
      <param name="data_topic" value="/imu/data"/>
      <param name="time_topic" value="/imu/imu_time"/>
  </node>
</launch>