<launch>
    <!-- log camera DEBUG level output -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find spinnaker_camera_driver)/cfg/enable_debug.conf"/>

    <node name="ig_handle_start_handle" pkg="ig_handle" type="start_handle.sh" output="screen"/>
    <arg name="output" default="~/bags"/>
    <node name="ig_handle_collect_bag" pkg="ig_handle" type="record_raw.sh" output="screen" args="$(arg output)"/>
</launch>
