<launch>
    <arg name="robot" default="handle"/>
    <arg name="output" default="~/bags"/>
    <arg name="throttle" default="false"/>

    <include if="$(eval arg('robot')=='handle')" file="$(find ig_handle)/launch/include/handle_includes.launch" pass_all_args="true"/>
    <include if="$(eval arg('robot')=='heron')" file="$(find ig_handle)/launch/include/heron_includes.launch" pass_all_args="true"/>
    <include if="$(eval arg('robot')=='husky')" file="$(find ig_handle)/launch/include/husky_includes.launch" pass_all_args="true"/>

    <group if="$(arg throttle)">
        <node name="throttle_topics" pkg="ig_handle" type="throttle_topics.sh" output="screen" args="$(arg output)"/>
        <node name="record_raw_bag" pkg="ig_handle" type="record_bag_throttled.sh" output="screen" args="$(arg output)"/>
    </group>
    <group unless="$(arg throttle)">
        <node name="record_raw_bag" pkg="ig_handle" type="record_bag.sh" output="screen" args="$(arg output)"/>
    </group>

</launch>
