<launch>
  <node name="ig_handle_collect_bag" pkg="ig_handle" type="record_stamped.sh" output="screen" args="/home/gabe/bags" />

  <arg name="camera_1" default="F1" />
  <group ns="$(arg camera_1)">
    <node pkg="nodelet" type="nodelet" name="$(arg camera_1)_nodelet_manager" args="manager" cwd="node"
      output="screen" />
    <node pkg="nodelet" type="nodelet" name="camera_restamp_nodelet"
      args="load ig_handle/camera_restamp_nodelet $(arg camera_1)_nodelet_manager">
      <param name="max_buffer_size" value="50" />
      <param name="data_topic" value="/$(arg camera_1)/image_raw" />
      <param name="time_topic" value="/$(arg camera_1)/cam_time" />
    </node>
  </group>

  <arg name="camera_2" default="F2" />
  <group ns="$(arg camera_2)">
    <node pkg="nodelet" type="nodelet" name="$(arg camera_2)_nodelet_manager" args="manager" cwd="node"
      output="screen" />
    <node pkg="nodelet" type="nodelet" name="camera_restamp_nodelet"
      args="load ig_handle/camera_restamp_nodelet $(arg camera_2)_nodelet_manager">
      <param name="max_buffer_size" value="50" />
      <param name="data_topic" value="/$(arg camera_2)/image_raw" />
      <param name="time_topic" value="/$(arg camera_2)/cam_time" />
    </node>
  </group>

  <arg name="camera_3" default="F3" />
  <group ns="$(arg camera_3)">
    <node pkg="nodelet" type="nodelet" name="$(arg camera_3)_nodelet_manager" args="manager" cwd="node"
      output="screen" />
    <node pkg="nodelet" type="nodelet" name="camera_restamp_nodelet"
      args="load ig_handle/camera_restamp_nodelet $(arg camera_3)_nodelet_manager">
      <param name="max_buffer_size" value="50" />
      <param name="data_topic" value="/$(arg camera_3)/image_raw" />
      <param name="time_topic" value="/$(arg camera_3)/cam_time" />
    </node>
  </group>

  <node pkg="nodelet" type="nodelet" name="imu_nodelet_manager" args="manager" cwd="node" output="screen" />
  <node pkg="nodelet" type="nodelet" name="imu_restamp_nodelet"
    args="load ig_handle/imu_restamp_nodelet imu_nodelet_manager">
    <param name="max_buffer_size" value="1000" />
    <param name="data_topic" value="/imu/data" />
    <param name="time_topic" value="/imu/imu_time" />
  </node>

</launch>